body{
   background: rgb(228, 223, 214);
   margin: 5px 5px;
}

form p{
    margin-left: 15px;
    margin-right: 5px;
    margin-top: 5%;
}

#Facebook{
    text-align: center;
    color: rgba(19, 19, 209, 0.747);
    font-size: 75px;
    font-family: 'Times New Roman';
}

form{
    width: 35%;
    background: white;
    padding: 8px 8px;
}
.form{
    display: flex;
    justify-content: center;
}

.form1{
    border: 2px solid rgb(241, 238, 238);
    border-radius: 15px;
    margin-bottom: 150px;
}

form h1{
    font-size: 35px;

    text-align: center;
}

.class1{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: 2px solid rgba(139, 137, 137, 0.733);
    color: rgb(19, 18, 18);
    font-size: 15px;
    margin-left: 5px;
    margin-right: 5px;

}

.class2 div{
    margin: 20px 5px;
}

form div{
    margin: 20px 4px;
}


 .class2 div{
    display: flex;
    justify-content: space-between;
    border: 2px solid rgba(139, 137, 137, 0.733);
    height: 35px;
     border-radius: 5px;
     color: rgb(19, 18, 18);
     font-size: 15px;
     width: 30%;
    margin-bottom: 30px 0;
     background-color: transparent;
 }

 .class2{
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100%;
  
 }

 

.id{
    width: 45%;
}

.id11{
    display: flex;
    justify-content: space-between;
    height: 35px;
    font-size: 40rem;
    margin-left: 10px;
    margin-right: 10px;
}
.id22{
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
}

.id11 input{
    border: none;
   border: 2px solid rgba(139, 137, 137, 0.733);
   height: 35px;
    border-radius: 5px;
    color: rgb(19, 18, 18);
    font-size: 15px;
}

#label{
    margin-top: 6.5%;
    margin-left: 5%;
}

#h3{
    color: rgba(167, 177, 187, 0.877);
    text-align: center;
}

.button{
    width: 10rem;
    height: 2rem;
    font-size: 20px;
    background-color: green;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    border: transparent;
}

form .buttonp{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}



.a{
    color: rgba(0, 0, 255, 0.774);
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-decoration: none;
}

select option{
    display: flex;
    justify-content: space-between;
    
}

form select{
    border: none;
   border: 2px solid rgba(139, 137, 137, 0.733);
   height: 35px;
    border-radius: 5px;
    color: rgb(19, 18, 18);
    font-size: 15px;
    width: 30%;
    background-color: transparent;
    
}

.date {
    display: flex;
    justify-content: space-between;
    height: 35px;
    font-size: 40rem;
    margin-left: 10px;
    margin-right: 10px;
}

.span{
    margin-bottom: -7%;
    margin-left: 1.5%;
}

.span2{
    margin-bottom: -3%;
    margin-left: 1.5%
}

#pers1{
    margin-right: 3%;
}

#info{
    color: rgba(3, 3, 247, 0.726);
    text-decoration: none;
}
